@using MyStockApp.Core.Application.ViewModels.Products;
@using MyStockApp.Core.Application.ViewModels.Categories;
@model ProductViewModel
@{
    ViewData["Title"] = "Details Page";
}

<div class="min-w-screen min-h-screen flex items-center p-5 lg:p-10 overflow-hidden relative">
    <div class="md:flex items-center -mx-10">
        <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0 snap-mandatory snap-x overflow-x-scroll overflow-y-hidden flex flex-row">
            <img src="@Model.ImageUrl" class="w-fit relative z-10 snap-center">

            @foreach (var documents in Model.Documents)
            {
                <img src="@documents.ImageUrl" class="w-fit relative z-10 snap-center">
            }
        </div>
        <div class="w-full md:w-1/2 px-10">
            <div class="mb-10">
                <h1 class="font-bold uppercase text-2xl mb-5">@Model.Name<br>@Model.CategoryName</h1>
                <p class="text-sm">@Model.Description<i class="mdi mdi-arrow-right"></i></p>
            </div>
            <div>
                <div class="inline-block align-bottom mr-5">
                    <span class="text-2xl leading-none align-baseline">$</span>
                    <span class="font-bold text-5xl leading-none align-baseline">@Model.Price</span>
@*                    <span class="text-2xl leading-none align-baseline">.99</span>*@
                </div>
                <div class="inline-block align-bottom">
                    @*<button class="bg-yellow-300 opacity-75 hover:opacity-100 text-yellow-900 hover:text-gray-900 rounded-full px-10 py-2 font-semibold"><i class="mdi mdi-cart -ml-2 mr-2"></i>BUY NOW</button>*@
                </div>
            </div>
        </div>
    </div>
</div>
